*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/.idea
/captures
/.svn
social_sdk_library_project/build/generated/assets/
social_sdk_library_project/build/generated/res/
social_sdk_library_project/build/generated/source/aidl/
social_sdk_library_project/build/generated/source/rs/
social_sdk_library_project/build/intermediates/annotations/
social_sdk_library_project/build/intermediates/assets/
social_sdk_library_project/build/intermediates/bundles/debug/aidl/
social_sdk_library_project/build/intermediates/bundles/debug/assets/
social_sdk_library_project/build/intermediates/bundles/release/aidl/
social_sdk_library_project/build/intermediates/bundles/release/assets/
social_sdk_library_project/build/intermediates/dependency-cache/
social_sdk_library_project/build/intermediates/exploded-aar/com.android.support/support-v4/23.4.0/assets/
social_sdk_library_project/build/intermediates/exploded-aar/com.android.support/support-v4/23.4.0/jni/
social_sdk_library_project/build/intermediates/exploded-aar/com.android.support/support-v4/23.4.0/libs/
social_sdk_library_project/build/intermediates/exploded-aar/com.android.support/support-v4/23.4.0/res/
social_sdk_library_project/build/intermediates/lint/
social_sdk_library_project/build/intermediates/manifest/tmp/
social_sdk_library_project/build/intermediates/rs/
social_sdk_library_project/build/intermediates/shaders/
social_sdk_library_project/build/tmp/
swipeback_library/build/generated/assets/
swipeback_library/build/generated/res/
swipeback_library/build/generated/source/aidl/
swipeback_library/build/generated/source/rs/
swipeback_library/build/intermediates/annotations/
swipeback_library/build/intermediates/assets/
swipeback_library/build/intermediates/bundles/debug/aidl/
swipeback_library/build/intermediates/bundles/debug/assets/
swipeback_library/build/intermediates/bundles/debug/jni/
swipeback_library/build/intermediates/bundles/debug/libs/
swipeback_library/build/intermediates/bundles/release/aidl/
swipeback_library/build/intermediates/bundles/release/assets/
swipeback_library/build/intermediates/bundles/release/jni/
swipeback_library/build/intermediates/bundles/release/libs/
swipeback_library/build/intermediates/dependency-cache/
swipeback_library/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.4.0/aidl/
swipeback_library/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.4.0/assets/
swipeback_library/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.4.0/jni/
swipeback_library/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.4.0/libs/
swipeback_library/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.4.0/res/
swipeback_library/build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.4.0/aidl/
swipeback_library/build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.4.0/assets/
swipeback_library/build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.4.0/jni/
swipeback_library/build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.4.0/libs/
swipeback_library/build/intermediates/exploded-aar/com.android.support/support-v4/23.4.0/assets/
swipeback_library/build/intermediates/exploded-aar/com.android.sup
port/support-v4/23.4.0/jni/
swipeback_library/build/intermediates/exploded-aar/com.android.support/support-v4/23.4.0/libs/
swipeback_library/build/intermediates/exploded-aar/com.android.support/support-v4/23.4.0/res/
swipeback_library/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.4.0/aidl/
swipeback_library/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.4.0/assets/
swipeback_library/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.4.0/jni/
swipeback_library/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.4.0/libs/
swipeback_library/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.4.0/res/
swipeback_library/build/intermediates/jniLibs/
swipeback_library/build/intermediates/lint/
swipeback_library/build/intermediates/manifest/tmp/
swipeback_library/build/intermediates/rs/
swipeback_library/build/intermediates/shaders/
swipeback_library/build/intermediates/transforms/
swipeback_library/build/tmp/
swipeback_library/build/intermediates/exploded-aar/com.android.support/support-v4/23.4.0/jni/
